.modal-container {
    display: none;
    position: fixed;
    top : 0;
    left : 0;
    background-color : rgba(0, 0, 0, 0.425);
    width: 100%;
    height: 100%;
    z-index: 10;
    align-items: center;
    justify-content: center;
}

.modal-container.active {
    display: flex;
}

.modal-box {
    position: relative;
    padding: 2rem;
    border-radius : 10px;
    background-color : white;
    min-width: 400px;
    min-height: 300px;
}

.modal-box .field-group {
    margin-bottom: 25px;
}

.modal-box .modal-header {
    margin-bottom : 10px;
}

.modal-box .modal-header h1 {
    color : var(--primary-color);
}

.modal-box .field-group label {
    display: block;
    color : var(--primary-color);
    margin-bottom : 10px;
    font-weight: bold;
    font-size: 1rem;
}

.modal-box .field-group input {
    border : 2px solid var(--primary-color);
    outline : none;
    width: 100%;
    background-color : white;
    border-radius : 10px;
    padding : 5px 10px;
}

.modal-box #edit-submit {
    width: 100%;
    background-color : var(--primary-color);
    color : white;
    font-size : 1.5rem;
    border-radius : 10px;
    border : none;
    padding: 7px 14px;
    cursor : pointer;
    font-weight: bold;
}

.modal-box .btn-close-modal {
    position: absolute;
    right : 10px;
    top : 10px;
    background-color: transparent;
    padding : 1rem;
    border: none;
}

.modal-box .btn-close-modal i {
    font-size : 2rem;
    color : var(--primary-color);  
    cursor: pointer; 
}

